In [1]:
import csv
import os
import pandas as pd

In [2]:
new_list = []
fwd = list(os.walk('./'))
for file in fwd[0][2]:
    if file.endswith('.csv'):
        with open(file, newline='') as f:
            reader = csv.reader(f)
            next(reader, None)
            data = list(reader)
            new_list.append(data)

In [4]:
len(new_list)

50

In [8]:
new_list[2]

[['Karimnagar', '100.57', '32.53', '4.38', '2.79', '1.4', '141.67']]

In [9]:
file = open('test.csv', 'w+', newline ='') 
with file:     
    write = csv.writer(file) 
    for i in new_list:
        write.writerows(i)

In [11]:
df = pd.read_csv('test.csv')

In [12]:
df.shape

(3013, 7)

In [15]:
df.dropna(inplace = True)

In [16]:
df.shape

(53, 7)

In [17]:
df

,Chennai,69265,41870,26515,1893,7795,147338
1,Karimnagar,100.57,32.53,4.38,2.79,1.4,141.67
2,Jaipur-C-I,117.89,273.41,10.56,4.47,0.15,406.48
3,Jaipur-C-II,299.77,233.24,22.98,13.71,0.052,569.752
4,Jaipur-C-III,286.39,473.53,7.32,8.912,2.647,778.799
5,Jaipur-C-IV,356.94,720.83,13.69,7.96,19.05,1118.47
6,NAGPUR 2014-15,10641.77,3574.45,5508.04,962.08,705.87,21392.21
7,NAGPUR 2015-16,11142.11,3650.27,5514.89,1057.14,845.83,22210.24
8,NAGPUR 2016-17,11261.37,3673.95,5582.41,1189.34,935.96,22643.03
9,NAGPUR 2017-18,11894.76,4138.31,6020.76,1161.89,1183.65,24399.37
10,Kanpur Nagar,125010.1,2702.3,5745,978.4,2627.7,24563.5
11,KOTA,4329.53455,1915.63248,2263.92798,168.59413,369.22818,9046.91732
12,Shillong,1900.6,539.5,33.1,244.5,600.8,3318.5
13,Shivamogga,767.6,366.49,1324.06,201.79,1687.16,4347.1
14,Belagavi csd -1,15.2,13.1,1.5,3.7,6.8,40.3
15,Tiruchirappalli,13.4,7.03,1.25,0.59,0.97,23.37
16,Agartala 2019,213.98,30.8,5.94,13.13,55.25,319.1
17,Agra,9772,3811,2870,583,157,17191
19,srinagar,650,200,150,9,2.5,1110
1009,Aurangabad Maharashtra 2017-18,275.07,83.97,121.08,18.38,19.12,517.62
1011,Chandigarh,731.94 MU,494.02 MU,258.68 MU,17.73 MU,86.43 MU,1588.80 MU
1012,Gwalior,5669,1327,1668,837,56,9557
1013,Indore City,10910.6,3858.5,2062.9,605.03,139.33,17576.37
1014,Jabalpur,313.38,103.21,92.89,63.43,101.46,674.37
1015,Jhansi,184.58,31.05,80.1,61.91,8.1,365.74
1016,Raipur city,435.92,1169.2,258.93,51.58,31.23,1946.86
1017,Salem,1225,332,176,34,23,1791
1018,Satna,1066.35,331.94,36.18,99.43,0.9,1534.8
1995,Solapur Smart City,2056.0687,2122.28326,2534.91887,2111.48258,2179.10492,2825.55137
1996,Tirupati,93.49,26.1,3.54,7.2,1.3,131.63
1997,Varanasi,344276,117285,88547,26340,6965,574293
1998,Varanasi,227753,85207,43360,68069,9357,373746
1999,Varanasi,22901437,165512121,8837925,4078916,256925,53330624
2000,Varanasi,20744022,14481831,6097798,2571746,1922295,45816692
2002,Thanjavur,280,211.36,17.1,22.45,11.62,542.54
2004,Thoothukudi,688.224,1728.72,664.02,271.34,204.824,3199.044
2005,Madurai City,44.26084,76.42692,16.56144,6.51587,3.53953,146.565414
2006,Pimpri Chinchwad Municipal Corporation,0,0,0,389.59,0,389.59
2007,New Town,709.66,2535.92,0.25,215.13,4.63,3465.6
2008,Aizawl,2386.93,481.15,133.41,437.78,518.55,3957.82
2010,Davanagere,1230,443.95,191.52,87.82,621.72,2627.36
2011,Kakinada,2114.8,512.6,474,32.3,18.6,3152.31
2012,Visakhapatnam,108.46,67.224,203.273,2.471,42.379,423.806
2013,NDMC,1779.54,8021.45,0.22,51.2,335.26,10187.67
2014,Amritsar,4076.09,2131.73,1479.03,206,166.24,8059.09
2015,Udaipur,2299.19,1700.93,2162.11,252.47,229.52,6744.04
2016,Udaipur,2299.19,1700.93,2162.11,252.47,229.52,6744.04
2017,Warangal,226.55,87.04,71.34,7.75,5.52,398.2
2018,Bengaluru FY 2017 2018,52701.28636,39082.11839,27116.79479,7425.861294,5349.705962,131675.7668
2019,Bengaluru FY 2018 to 2019 upto December,41634.58728,29804.31196,19659.14365,5742.257591,4013.176515,100853.477
3009,City Name,Domestic purpose,Commercial purpose,Industry purpose,Public Water Work & Street Light,Others,Total Consumption
3010,Kohima,36.742,5.864,1.129,0.342,9.799,53.876
3011,Port Blair,6360108,1304750,1281693,309981,2095012,11351544
3012,DHARAMSHALA,41686956,1125215,48840,917981,4892969,48671961

In [18]:
df.to_csv('Final.csv')